*
  padding 0
  margin 0

.container
  height 400px
  margin 100px auto
  width 400px
  overflow scroll
  .bg
    width 100%
    height 100%
    transform rotate(-90deg)
    left 0
    .banner_item
      display inline-block
      width 400px
      .img
        width 400px
        height 400px
        transform rotate(90deg)
