<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.js"></script>
</head>
<body>
<body>
    <div id="app">
        <label>
            <!-- 做了双向绑定 -->
            男<input v-model="sex" type="checkbox" value="male"/>

        </label>
        <label>
            女<input v-model="sex" type="checkbox" value="female"/>
        </label>
        {{sex}}
    </div>
    </body>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            // 复选框用数组装，默认都不选择，如果时数组，就往里面添加和删除元素
            data: {
                sex: []
            }
        })
    </script>
</body>
</html>