<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>assets</key>
		<array>
			<dict>
				<key>kind</key>
				<string>software-package</string>
				<key>url</key>
				<string>https://github.com/YJCdaydayup/vue-pra/raw/master/30.test/cczq-wit-v201901.09.000AM1-20191105.ipa</string>
			</dict>
			<dict>
				<key>kind</key>
				<string>full-size-image</string>
				<key>needs-shine</key>
				<true/>
				<key>url</key>
				<string>https://github.com/YJCdaydayup/vue-pra/raw/master/30.test/zy_512.png</string>
			</dict>
			<dict>
				<key>kind</key>
				<string>display-image</string>
				<key>needs-shine</key>
				<true/>
				<key>url</key>
				<string>https://github.com/YJCdaydayup/vue-pra/raw/master/30.test/zy_57.png</string>
			</dict>
		</array>
		<key>metadata</key>
		<dict>
			<key>bundle-identifier</key>
			<string>com.cczq.broker.mobilemarket</string>
			<key>bundle-version</key>
			<string>201901.09.000AM1</string>
			<key>kind</key>
			<string>software</string>
			<key>title</key>
			<string>川财证券移动展业</string>
		</dict>
	</dict>
</array>
</plist>
