<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <script type="text/javascript">
        <%=
               compilation.assets[htmlWebpackPlugin.files.chunks.main.entry.substr(htmlWebpackPlugin.files.publicPath.length)].source() %>
    </script>

</head>
<body>
<%= htmlWebpackPlugin.options.date %>

<!-- 遍历 -->
<% for (var key in htmlWebpackPlugin.files) { %>
<%= key %> : <%= JSON.stringify(htmlWebpackPlugin.files[key]) %>
<% } %>



<!--  我是一行注释 -->
js:
<% for (var key in htmlWebpackPlugin.options) { %>
<%= key %> : <%= JSON.stringify(htmlWebpackPlugin.options[key]) %>
<% } %>

<% for (var k in htmlWebpackPlugin.files.chunks) { %>

    <% if ( k != 'main' ) {  %>
        <script src=" <%=
            htmlWebpackPlugin.files.chunks[k].entry %>"></script>
    <% } %>
<% } %>

<!--<script src="bundle.js"></script>-->
</body>
</html>