<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
    </head>
    <body>
        <form method="POST" enctype="application/x-www-form-urlencoded" action="/doPost">
            <input type="text" name="name" placeholder="请输入姓名">
            <hr color="blue"/>
            <input type="text" name="age" placeholder="请输入年龄">
            <hr color="red"/>
            <input type="file" name="file">
            <input type="submit">
        </form>
    </body>
</html>