<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
    <h3>请登陆</h3>
    <form action="/checklogin" method="post" enctype="application/x-www-form-urlencoded">
        用户名: <input type="text" name="username"> <br/>
        密码: <input type="text" name="password"><br/>
        <input type="submit" value="登录">
    </form>
</body>
</html>