<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增学生</title>
</head>
<body>
<form action="/doAdd" method="get">
    <p>
        学号: <input type="text" name="sid">
    </p>
    <p>
        姓名: <input type="text" name="name">
    </p>
    <p>
        年龄: <input type="text" name="age">
    </p>
    <p>
        性别:
        <br>
        男:<input type="radio" name="sex" value="男">
        女:<input type="radio" name="sex" value="女">
    </p>
    <p>
        全部课程:
        <br>
        <% for (let i = 0;i < kechengs.length;i++) {
            let kecheng = kechengs[i];
        %>
            <%=kecheng.name%> <input type="checkbox" name="kechengs" value=<%=kecheng.kid%>>
        <% } %>
    </p>
    <p>
        <input type="submit">
    </p>
</form>
</body>
</html>