<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增学生</title>
</head>
<body>
<form action="/doAdd" method="get">
    <p>
        学号: <input type="text" name="sid">
    </p>
    <p>
        姓名: <input type="text" name="name">
    </p>
    <p>
        年龄: <input type="text" name="age">
    </p>
    <p>
        性别:
        <br>
        男:<input type="radio" name="sex" value="男">
        女:<input type="radio" name="sex" value="女">
    </p>
    <p>
        全部课程:
        <br>
        语文课: <input type="checkbox" name="kechengs" value="1000">
        数学课: <input type="checkbox" name="kechengs" value="1001">
        英语课: <input type="checkbox" name="kechengs" value="1002">
        体育课: <input type="checkbox" name="kechengs" value="1003">
        音乐课: <input type="checkbox" name="kechengs" value="1004">
        美术课: <input type="checkbox" name="kechengs" value="1005">
        政治课: <input type="checkbox" name="kechengs" value="1006">
        地理课: <input type="checkbox" name="kechengs" value="1007">
        历史课: <input type="checkbox" name="kechengs" value="1008">
    </p>
    <p>
        <input type="submit">
    </p>
</form>
</body>
</html>