<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>添加书</title>
    </head>
    <body>
    <form action="/doadd" method="get">
        <p>
            书名:
            <input type="text" placeholder="书名" name="name">
        </p>
        <p>
            作者:
            <input type="text" placeholder="作者" name="author">
        </p>
        <p>
            价格:
            <input type="text" placeholder="价格" name="price">
        </p>
        <p>
            <input type="submit" value="提交">
        </p>
    </form>
    </body>
</html>