<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>聊天室</title>
    <style>

        ul {
            list-style-type: none;
        }

        .liebiao {
            height: 500px;
            width: 100%;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        .liebiao li {
            width: 100%;
            word-break: break-all;
            padding: 5px;
            border: 1px solid #ccc;
            margin-top: 3px;
        }

        .caozuo {
            font-size: 16px;
        }

        .caozuo input[type = button] {
            margin-top: 6px;
            padding: 10px 30px;
            border-radius: 6px;
            outline: none;
            background-color: cornflowerblue;
            font-weight: bolder;
            font-size: 16px;
            color: white;
            position: relative;
            top: 2px;
            width: 18%;
            box-sizing: border-box;
        }

    </style>
</head>
<body>
<h3><strong id="username"><%= username %></strong>的聊天室</h3>
<div>
    <ul class="liebiao">
    </ul>
</div>
<div class="caozuo">
    <input style="display: inline-block;width: 70%;height: 36px;padding: 0 10px" type="text" id="neirong">
    <input type="button" id="fayan" value="发言">
</div>
<script src="/js/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    $('#fayan').click(function () {
        socket.emit('liaotian', {
            username: $("#username").text(),
            msg: $('#neirong').val()
        });
    });

    socket.on('huida', function (msgObj) {
        $('.liebiao').prepend('<li>' + msgObj.username + '说: ' + msgObj.msg + '</li>')
    })

</script>
</body>
</html>