<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>聊天室</title>
    <style>
        form {
            width: 700px;
            height: 30px;
            padding: 40px;
            border: 1px solid #ccc;
            margin: 100px auto;
        }

        #username {
            font-size: 16px;
            padding: 0 6px;
        }

    </style>
</head>
<body>
    <form action="/check" method="get">
        <input type="text" id="username" name="username">
        <input type="submit" value="进入聊天室">
    </form>
</body>
</html>