.box {
  color: red;
  padding: 1rem;
  background-color: orange;
  display: flex;
  .part1 {
    flex: 0 0 80px;
    background-color: yellowgreen;
    height: 200px;
  }
  .part2 {
    flex: 1;
    height: 200px;
    background-color: green;
  }
}
